.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  align-items: center;

}

.search-bar{
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;

  .mat-mdc-form-field {
    width: 60%;
    padding-top: 10px;
  }
}
.sheep-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
  justify-content: center;
  gap: 1rem;
}
.tools{
  position: fixed;
  top: 1rem;
  right: 1rem;

}

.add{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.icon{
  float: right;
}
